	@media (max-width: 414px) {
		body {
			width: 414px;
		}

		.header {
			width: 100%;
		}

		header div {
			position: relative;
		}


		.head-nav {
			display: none;
		}

		img {
			max-width: 100%;
		}

		.main-banner {
			display: none;
		}

		.main-banner-responsive {
			display: block;
			position: absolute;
		}

		.logo-wrap {
			margin: 0;
		}

		.text-logo-top,
		.text-logo-bottom {
			top: 300px;
			left: 0;
			display: none;
		}

		.text-logo-bottom {
			top: 430px;
			left: 0;
		}

		.main-content {
			height: 400px;
		}

		.bar {
			left: 0;
		}

		.map {
			left: 0;
			top: 135px;
		}

		.example {
			left: 0;
		}

		.example-bar {
			height: 30px;
		}

		.example span {
			left: 147px;
		}

		.under-content {
			width: 100%;
			height: 950px;
			z-index: -1;
		}

		.component {
			margin: 0;
		}

		.hamburgermenu {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 40px;
			height: 38px;
			background-color: #FFFFFF;
			margin-left: auto;
		}

		.hamburgermenu label span {
			height: 5px;
			width: 30px;
			border-radius: 4px;
			background: black;
			content: '';
			position: absolute;
			left: 5px;
			transition-duration: 0.5s;
		}

		.hamburgermenu label span:nth-child(1) {
			top: 5px
		}

		.active label span:nth-child(1) {
			transform: translateY(10px) rotate(-45deg);

		}

		.hamburgermenu label span:nth-child(2) {
			top: 15px;
		}

		.active label span:nth-child(2) {
			opacity: 0;
		}


		.hamburgermenu label span:nth-child(3) {
			top: 25px;
		}

		.active label span:nth-child(3) {
			transform: translateY(-10px)rotate(45deg);

		}

		.hamburgermenu-wrap {
			position: absolute;
			top: 3px;
			left: 5px;
		}


		.js-click-menu.active {
			position: absolute;
			margin: 0;
			left: 0;
			height: 1374px;
		}

		.head-nav.active {
			display: block;
			padding-top: 40px;
			background: #FFFFFF;
			opacity: 0.9;
		}

		.head-nav.active ul {
			display: block;
			padding: 0;
		}

		.head-nav.active ul li {
			position: relative;
			background: #FFFFFF;
			margin: 0;
			width: 414px;
			opacity: 0.9;
			height: 10vh;
			text-align: center;
		}

		.head-nav ul li a {
			font-size: 20px;
		}


		footer {
			display: none;
		}


		.footer-smaho {
			display: block;
			text-align: center;
			width: 100%;
		}
	}

	.button,
	.apply {
		z-index: -1;
	}


	.arrow-blue {
		left: 120px;
	}
