/*TOP・全体共通*/

html {
	position: relative;
	height: 100%;
}

.top {
	height: initial;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'MSPゴシック', 'MS PGothic'
		color: #999999;
	position: relative;
	height: 100%;
}

.main-banner {
	display: block;
	width: 100%;
	z-index: -1;
	position: absolute;
}



.smaho-menu {
	display: none;
}


header div,
.head-logo {
	display: flex;
	margin: 0;
	z-index: 0;
}

.header {
	margin: 0 auto;
	width: 1300px;
}


.logo-wrap {
	margin-left: 90px;
}

.head-logo {
	font-size: 25px;
}

.head-logo-img {
	margin: 0 15px;
}

.head-nav {
	display: block;
	z-index: 0;
}

.head-nav ul {
	list-style: none;
	margin: 0;
	line-height: 38px;
	display: flex;
	bottom: 0;
	width: 100%;
	font-size: 10px;
}

.head-nav ul li a {
	font-size: 15px;
}

.main-content {
	position: relative;
	height: 700px;
	z-index: -2;
}


#newstop {
	width: 45%;
	color: #00FFFF;
	margin-top: 10px;
	margin-left: 300px;
	display: flex;
	height: 100px;
	position: absolute;
	top: 680px;
	z-index: -1;
}

#newsbord {
	margin: 0 40px;
	padding: 0;
	height: 80px;
	font-size: 0.5px;
	overflow-y: scroll;
	color: #BBBBBB;
}

.main-banner-responsive {
	display: none;
	z-index: -2;
}

@media screen and (max-width:768px) {
	body {
		width: 768px;
	}

	.header {
		width: 100%;
	}

	header div {
		position: relative;
	}


	.head-nav {
		display: none;
	}

	img {
		max-width: 100%;
	}

	.main-banner {
		display: none;
	}

	.main-banner-responsive {
		display: block;
		position: absolute;
	}

	.logo-wrap {
		margin: 0;
	}

	.text-logo-top,
	.text-logo-bottom {
		top: 300px;
		left: 0;
		display: none;
	}

	.text-logo-bottom {
		top: 430px;
		left: 0;
	}

	.main-content {
		height: 550px;
	}

	#newstop {
		top: 350px;
		margin: 0 auto;
		width: 62%;
		position: static;
		height: 75px;
		display: block;
		text-align: center;
	}

	.news-txt {}

	#newsbord {
		margin: 0 30px;
		overflow: scroll;
		height: 40px;
	}


}


@media screen and (max-width: 414px) {
	body {
		width: 414px;
	}

	.header {
		width: 100%;
	}

	header div {
		position: relative;
	}


	.head-nav {
		display: none;
	}

	img {
		max-width: 100%;
	}

	.main-banner {
		display: none;
	}

	.main-banner-responsive {
		display: block;
		position: absolute;
	}

	.logo-wrap {
		margin: 0;
	}

	.text-logo-top,
	.text-logo-bottom {
		top: 300px;
		left: 0;
		display: none;
	}

	.text-logo-bottom {
		top: 430px;
		left: 0;
	}

	.main-content {
		height: 300px;
	}


	#newstop {
		width: 404px;
		color: #00FFFF;
		margin: 0 auto;
		display: flex;
		z-index: -1;
		display: block;
		text-align: center;
	}

	#newsbord {
		margin: 0 30px;
		height: 40px;
		overflow: scroll;
		font-size: 0.3px;
		color: #BBBBBB;

	}

}

.foot-wrap {
	display: flex;
}

a {
	text-decoration: none;
	color: black;
}

.under-content {

	position: relative;
	height: 900px;
	background-color: #EEFFFF;
	margin-top: 60px;
}



.text-logo-top {
	position: absolute;
	top: 350px;
	left: 240px;
}

.text-logo-bottom {
	position: absolute;
	top: 470px;
	left: 240px;
}

.under-content {
	position: relative;
}

.map {
	position: absolute;
	left: 600px;
	right: 0;
	margin: auto;
}

.example {
	position: absolute;
	top: 500px;
	left: 282.5px;
	right: 0;
	margin: auto;
}

.example span {
	color: #FFFFFF;
	position: absolute;
	font-size: 20px;
	left: 380px;
}

.component {
	margin-left: 5px;
}

.bar {
	position: absolute;
	left: 240px;
}

@media screen and (max-width:768px) {

	.bar {
		left: 0;
	}

	.map {
		left: 0;
		top: 135px;
	}

	.example {
		left: 0;
		top: 570px;
	}

	.example-bar {
		height: 30px;
		width: 700px;
		margin: 0 auto;
		display: block;
	}

	.example span {
		left: 324px;
	}

	.under-content {
		width: 100%;
		height: 1100px;
		z-index: -1;
		margin: 0;
	}

	.component {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 414px) {

	.bar {
		left: 0;
	}

	.map {
		left: 0;
		top: 135px;
	}

	.example {
		left: 0;
	}

	.example-bar {
		height: 30px;
	}

	.example span {
		left: 147px;
	}

	.under-content {
		width: 100%;
		height: 1070px;
		z-index: -1;
	}

	.component {
		margin: 0;
	}
}



.hamburgermenu {
	display: none;
	z-index: 1
}


@media screen and (max-width:768px) {


	.hamburgermenu {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 40px;
		height: 38px;
		background-color: #FFFFFF;
		margin-left: auto;
	}

	.hamburgermenu label span {
		height: 5px;
		width: 30px;
		border-radius: 4px;
		background: black;
		content: '';
		position: absolute;
		left: 5px;
		transition-duration: 0.5s;
	}

	.hamburgermenu label span:nth-child(1) {
		top: 5px
	}

	.active label span:nth-child(1) {
		transform: translateY(10px) rotate(-45deg);

	}

	.hamburgermenu label span:nth-child(2) {
		top: 15px;
	}

	.active label span:nth-child(2) {
		opacity: 0;
	}


	.hamburgermenu label span:nth-child(3) {
		top: 25px;
	}

	.active label span:nth-child(3) {
		transform: translateY(-10px)rotate(45deg);

	}

	.hamburgermenu-wrap {
		position: absolute;
		top: 3px;
		left: 5px;
	}


	.js-click-menu.active {
		position: absolute;
		margin: 0;
		left: 0;
		height: 1824px;
	}

	.head-nav.active {
		display: block;
		padding-top: 40px;
		background: #FFFFFF;
		opacity: 0.9;
		width: 100%;
	}

	.head-nav.active ul {
		display: block;
		padding: 0;
	}

	.head-nav.active ul li {
		position: relative;
		background: #FFFFFF;
		margin: 0;
		width: 414px;
		opacity: 0.9;
		height: 10vh;
		text-align: center;
		width: 100%;
	}

	.head-nav ul li a {
		font-size: 20px;
		display: block;
		padding: 23.59px;
		cursor: pointer;
	}
}


@media screen and (max-width: 414px) {


	.hamburgermenu {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 40px;
		height: 38px;
		background-color: #FFFFFF;
		margin-left: auto;
	}

	.hamburgermenu label span {
		height: 5px;
		width: 30px;
		border-radius: 4px;
		background: black;
		content: '';
		position: absolute;
		left: 5px;
		transition-duration: 0.5s;
	}

	.hamburgermenu label span:nth-child(1) {
		top: 5px
	}

	.active label span:nth-child(1) {
		transform: translateY(10px) rotate(-45deg);

	}

	.hamburgermenu label span:nth-child(2) {
		top: 15px;
	}

	.active label span:nth-child(2) {
		opacity: 0;
	}


	.hamburgermenu label span:nth-child(3) {
		top: 25px;
	}

	.active label span:nth-child(3) {
		transform: translateY(-10px)rotate(45deg);

	}

	.hamburgermenu-wrap {
		position: absolute;
		top: 3px;
		left: 5px;
	}


	.js-click-menu.active {
		position: absolute;
		margin: 0;
		left: 0;
		height: 1374px;
	}

	.head-nav.active {
		display: block;
		padding-top: 40px;
		background: #FFFFFF;
		opacity: 0.9;
	}

	.head-nav.active ul {
		display: block;
		padding: 0;
	}

	.head-nav.active ul li {
		position: relative;
		background: #FFFFFF;
		margin: 0;
		width: 414px;
		opacity: 0.9;
		height: 10vh;
		text-align: center;
	}

	.head-nav ul li a {
		font-size: 20px;
	}
}



/*個別ページ共通*/

.apply-link {
	color: #696969;
}

.banner {
	display: block;
	width: 100%;
}

.heading {
	color: #3399ff;
	text-align: center;
}

.text {
	text-align: center;
}

.button {
	position: relative;
}

.button p {
	position: absolute;
	top: 24%;
	left: 51%;
	color: #ffffff;
	transform: translate(-50%, -50%);
	font-size: 15px;
}

.selfCheckbutton {
	display: block;
	margin: 15px auto;
}

.arrow-white {
	position: absolute;
	top: 22px;
	left: 620px;
}

.apply {
	position: relative;
}

.apply p {
	text-align: center;
	font-size: 12px;
	margin: 10px;
	0;
}

.arrow-blue {
	position: absolute;
	left: 620px;
	top: 5px;
}

/*フッター*/

footer,
.footer-smaho {
	margin: 0;
	display: flex;
	align-items: center;
	width: 1425px;
	height: 50px;
	background-color: #EEEEEE;
	color: #696969;
	font-size: 10px;
	bottom: 0;
	position: absolute;
}

.footer-smaho-top {
	position: static;
}

.footer-top {
	position: static;
}

.foot-nav ul {
	width: 1100px;
}

.foot-wrap {
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.footer-right {
	height: 33px;
}

.footer-right ul li {
	float: left;
	list-style: none;
}

.footer-right ul li a {
	color: #696969;
}

.footer-smaho {
	display: none;
}

.head-nav ul li,
.foot-nav ul li {
	margin-left: 40px;
}



.foot-nav ul li a {
	font-size: 15px;
	color: #696969;
}

@media screen and (max-width:768px) {
	footer {
		display: none;
	}


	.footer-smaho {
		display: block;
		text-align: center;
		width: 100%;
	}
}

.button,
.apply {
	z-index: -1;
}

.arrow-blue {
	left: 630px;
}


@media screen and (max-width: 414px) {
	footer {
		display: none;
	}


	.footer-smaho {
		display: block;
		text-align: center;
		width: 100%;
	}


	.button,
	.apply {
		z-index: -1;
	}


	.arrow-blue {
		left: 120px;
	}
}
