@media screen and(max-width:768px) {


	.hamburgermenu {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 40px;
		height: 38px;
		background-color: #FFFFFF;
		margin-left: auto;
	}

	.hamburgermenu label span {
		height: 5px;
		width: 30px;
		border-radius: 4px;
		background: black;
		content: '';
		position: absolute;
		left: 5px;
		transition-duration: 0.5s;
	}

	.hamburgermenu label span:nth-child(1) {
		top: 5px
	}

	.active label span:nth-child(1) {
		transform: translateY(10px) rotate(-45deg);

	}

	.hamburgermenu label span:nth-child(2) {
		top: 15px;
	}

	.active label span:nth-child(2) {
		opacity: 0;
	}


	.hamburgermenu label span:nth-child(3) {
		top: 25px;
	}

	.active label span:nth-child(3) {
		transform: translateY(-10px)rotate(45deg);

	}

	.hamburgermenu-wrap {
		position: absolute;
		top: 3px;
		left: 5px;
	}


	.js-click-menu.active {
		position: absolute;
		margin: 0;
		left: 0;
		height: 1824px;
	}

	.head-nav.active {
		display: block;
		padding-top: 40px;
		background: #FFFFFF;
		opacity: 0.9;
		width: 100%;
	}

	.head-nav.active ul {
		display: block;
		padding: 0;
	}

	.head-nav.active ul li {
		position: relative;
		background: #FFFFFF;
		margin: 0;
		width: 414px;
		opacity: 0.9;
		height: 10vh;
		text-align: center;
		margin: 0 auto;
	}

	.head-nav ul li a {
		font-size: 20px;
	}
